.sectionHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleText {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin : 0.5rem;
}

.subTitleText {
    font-family: 'Merriweather', serif;
    font-size : 1.25rem;
}